
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background: var(--kendo-color-primary);
  margin-top: -60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: var(--kendo-color-base);
  border-radius: var(--kendo-border-radius-lg);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}